@using HRM.Models
@model List<NewsModel>

@{ 
    Layout = "";
}

<!DOCTYPE HTML>
<html lang="vi-VN">
	<head>
		<title>
			Cổng thông tin
		</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="~/Content/CSS/Index.css">
		<style>
            .hide-form {
                height: 0;
            }

            .div-form-update {
                transition: all 0.4s ease-in-out;
            }

            .hide{
                display:none
            }
		</style>
	</head>
	<body>
        <div id="div-banner">
            <div id="div-logo">
				<img src="~/Store/Pics/Logo/1.png" style="height:150px"/>
			</div>
            <div id="div-webaname">TIN VẮN VIỆT NAM</div>
        </div>
        <div style="background:blue;color:white;padding:10px;margin:20px;width:10%;text-align:center;cursor:pointer" id="div-create">Thêm mới tin</div>
        <div style="border:1px solid black;margin-bottom:20px" class="div-form-update hide-form hide" id="div-form-update">
            <form action="/Information/Create" method="post" enctype="multipart/form-data" id="form-update" class="form-update">
                <div>
                    <label style="display: inline-block; width:200px; margin-left: 20px; margin-right: 20px">Tiêu đề</label> &#9;&#9;
                    <input type="text" name="title" style="display:inline-block;width:50%;height:20px" />
                </div>
                <div>
                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Tóm tắt</label> &#9;&#9;
                    <textarea name="brief" form="form-update" style="display: inline-block; width: 50%; height: 100px "></textarea>
                </div>
                <div>
                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Nội dung</label> &#9;&#9;
                    <textarea name="content" form="form-update" style="display: inline-block; width: 50%; height: 100px"></textarea>
                </div>
                <div>
                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Ảnh thumbnail</label> &#9;&#9;
                    <input type="file" name="thumbnail" style="display:inline-block">
                </div>

                <input type="submit" value="Lưu" style="margin-left:20px">
            </form>
        </div>
        <div id="div-list-content">
			@{ 
				foreach(NewsModel item in Model)
				{
                        <div class="div-itemnews" id="div-itemnews-@item.id" style="border:1px solid black;margin-bottom:20px">
                            <div style="display:inline-block;width:100px;height:100px">
								<img src="~/Store/Pics/ThumbnailImage/@item.thumbnail" style="width:100px;height:100px"/>
							</div>
                            <div style="display:inline-block;padding:10px 20px;width:800px">
                                <h2>@item.title</h2>
                                <p style="color: #747f91">@item.brief</p>
								<p style="display:none" id="detail-@item.id" class="detail-paragraph">@item.content</p>
                                <div>
                                    <div class="div-detail" style="display:inline-block;background:green;color:white;padding:5px 5px;margin-right:10px;cursor:pointer">Xem thêm</div>
                                    <div class="div-update" style="display: inline-block; background: #f59b42; color: white; padding: 5px 5px; margin-right: 10px; cursor: pointer ">Chỉnh sửa</div>
                                    <div class="div-remove" style="display: inline-block; background: red; color: white; padding: 5px 5px; margin-right: 10px; cursor: pointer " data-id="@item.id" data-title="@item.title">Xóa</div>
                                </div>
                            </div>
                        </div>
						<div style="border:1px solid black;margin-bottom:20px" class="div-form-update hide-form hide" data-id="@item.id">
                            <form action="/Information/Update" method="post" enctype="multipart/form-data" id="form-update-@item.id" class="form-update">
                                <div>
                                    <label style="display: inline-block; width:200px; margin-left: 20px; margin-right: 20px">Tiêu đề</label> &#9;&#9;
                                    <input type="text" name="title" style="display:inline-block;width:50%;height:20px"/>
                                </div>
                                <div>
                                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Tóm tắt</label> &#9;&#9;
                                    <textarea name="brief" form="form-update-@item.id" style="display: inline-block; width: 50%; height: 100px "></textarea>
                                </div>
                                <div>
                                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Nội dung</label> &#9;&#9;
                                    <textarea name="content" form="form-update-@item.id" style="display: inline-block; width: 50%; height: 100px"></textarea>
                                </div>
                                <div>
                                    <label style="display: inline-block; width: 200px; margin-left: 20px; margin-right: 20px">Ảnh thumbnail</label> &#9;&#9;
                                    <input type="file" name="thumbnail" style="display:inline-block">
                                </div>

                                <input type="submit" value="Lưu" style="margin-left:20px">
                                <input type="hidden" name="id" value="@item.id">
                            </form>
						</div>
				}
			}
		</div>
	</body>
</html>
<script src="~/Scripts/LogicProccess/Information/Index.js"></script>